#clockbody {
  display: flex;
  flex-direction: column;
  padding: 60px;
}
#clockbody .title {
  font-weight: 200;
  text-align: center;
  padding: 10px 0;
}
#clockbody #time,
#clockbody #date {
  color: #555;
  font-weight: 300;
  text-align: center;
}
#clockbody #time {
  padding: 10px 0;
  font-family: clockicons, sans-serif;
}
#clockbody #date {
  padding: 10px 0;
}
#clockbody .btn-clock {
  text-align: center;
  padding: 5px 0;
}
#clockbody .btn-clock button {
  background-color: #2ecc71;
  padding: 1rem;
  border: #2ecc71;
  color: #fff;
  cursor: pointer;
}
#clockbody .btn-clock button:hover {
  background: #27ae60;
}
