#clockset {
  flex-direction: column;
  display: none;
}
#clockset .set-title {
  background: #3498db;
  color: #fff;
  font-size: 25px;
  font-weight: 100;
  text-align: center;
  padding: 10px;
}
#clockset .set-main {
  flex: 1;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
#clockset .set-main .settime {
  display: flex;
  padding: 10px 0;
}
#clockset .set-main .settime .timeitem {
  margin-right: 10px;
}
#clockset .set-main .settime .timeitem input {
  width: 120px;
  height: 25px;
  border: 0;
}
#clockset .set-main .music .file {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
#clockset .set-bottom {
  text-align: right;
  padding: 5px;
}
#clockset .set-bottom button {
  padding: 8px;
  border: #27ae60;
  cursor: pointer;
  margin-right: 5px;
}
#clockset .set-bottom button:nth-of-type(1) {
  color: #555;
  background: #bdc3c7;
}
#clockset .set-bottom button:nth-of-type(2) {
  color: #fff;
  background-color: #2ecc71;
}
#clockset .set-bottom button:nth-of-type(2):hover {
  background: #27ae60;
}
#clockset .set-bottom button:nth-of-type(1):hover {
  background: #95a5a6;
}
