@media screen and (min-width: 1024px) {
  #clockbody .title {
    font-size: 8rem;
  }
  #clockbody #time {
    font-size: 10rem;
  }
  #clockbody #date {
    font-size: 4rem;
  }
  #clockbody .btn-clock button {
    font-size: 1.5rem;
  }
  #clockset .set-title {
    font-size: 3rem;
    padding: 0.5rem;
  }
  #clockset .set-main {
    font-weight: 100;
    font-size: 2rem;
    padding: 4rem;
  }
  #clockset .set-main .settime .timeitem input {
    width: 12rem;
    height: 2rem;
    font-size: 2rem;
    font-weight: 200px;
  }
  #clockset .set-main .music .file input {
    font-size: 1.5rem;
  }
  #clockset .set-bottom {
    padding: 0.5rem;
  }
  #clockset .set-bottom button {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  #clockbody .title {
    font-size: 8rem;
  }
  #clockbody #time {
    font-size: 10rem;
  }
  #clockbody #date {
    font-size: 4rem;
  }
  #clockbody .btn-clock button {
    font-size: 1.5rem;
  }
  #clockset .set-title {
    font-size: 3rem;
    padding: 0.5rem;
  }
  #clockset .set-main {
    font-weight: 100;
    font-size: 2rem;
    padding: 4rem;
  }
  #clockset .set-main .settime .timeitem input {
    width: 12rem;
    height: 2rem;
    font-size: 2rem;
    font-weight: 200;
  }
  #clockset .set-main .music .file input {
    font-size: 1.5rem;
  }
  #clockset .set-bottom {
    padding: 0.5rem;
  }
  #clockset .set-bottom button {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 414px) {
  #clockbody .title {
    font-size: 2rem;
  }
  #clockbody #time {
    font-size: 4rem;
  }
  #clockbody #date {
    font-size: 2rem;
  }
  #clockbody .btn-clock button {
    padding: 0.5rem;
    font-size: 1rem;
  }
  #clockset .set-title {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  #clockset .set-main {
    font-weight: 100;
    font-size: 1rem;
    padding: 1rem;
  }
  #clockset .set-main .settime .timeitem input {
    width: 5rem;
    height: 1rem;
    font-size: 1rem;
    font-weight: 200;
  }
  #clockset .set-main .music .file input {
    font-size: 0.8rem;
  }
  #clockset .set-bottom {
    padding: 0.5rem;
  }
  #clockset .set-bottom button {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 375px) {
  #clockbody {
    padding: 0 47px;
  }
}
